* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  border-collapse: collapse;

  min-width: 0;
  max-width: 100%;
  background-color: white;
  flex-shrink: 0;
}

.buffer {
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.icon {
}

.link {
  color: DodgerBlue;
  text-decoration-line: underline;
}

.left-container {
  position: absolute;
  left: 0;
  align-text: center;
}

.pair {
  justify-self: center;
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto auto;
}

.right-container {
  position: absolute;
  right: 0;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  background-color: cyan;
}

.spacer {
  padding: 5%;
}

#blurb {
  border-bottom: 2px solid black;
}

#contact {
}

#main {
  position: absolute;
  left: 0;
  text-align: center;
  width: 69.9%;
  border-right: 4px solid black;
  overflow: auto;
}

#main-heading {
  overflow: wrap;
  column-count: 2;
  column-gap: 47%;
  align-items: center;
  height: 3.5vw;
  border-bottom: 2px solid black;
  background-color: cyan;
}

#sidebar {
  position: absolute;
  right: 0;
  align-items: center;
  width: 30%;
  border-left: 4px solid black;
  overflow: auto;
}

body {
  background-color: beige;
  overflow: auto;
  width: 100vw;
  padding-bottom: 75%;
}

h1 {
  font-size: 2vw;
  color: black;
  background-color: cyan;
  padding: 3px;
  min-width: fit-content;
}

h2 {
  font-size: 1.7vw;
  padding: 6px 3px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: cyan;
}

h3 {
  font-size: 1.6vw;
  font-weight: lighter;
  padding: 3px;
  align-self: center;
  min-width: fit-content;
  background-color: cyan;
}

p,
li {
  font-size: 1.3vw;
  padding: 3px;
  text-align: center;
}

a {
  text-decoration: none;
}
