* {
  font-family: Helvetica, Arial, sans-serif;
}

.row-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

h1 {
  color: black;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}
