* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  border-collapse: collapse;

  min-width: 0;
  max-width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.buffer {
  background-color: white;
  border-right: 2px solid black;
  min-height: 0vh;
  padding-bottom: 75%;
}

.cert {
  font-size: 1.2vw;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: wrap;
  column-count: 2;
  column-gap: fit-container;
  align-items: center;
  height: 3.5vw;
  background-color: white;
}

.link {
  background-color: transparent;
  font-weight: bold;
  /* color: DodgerBlue;
  text-decoration-line: underline; */
}

.left-container {
  position: absolute;
  left: 0;
  align-text: center;
}

.right-container {
  position: absolute;
  right: 0;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  background-color: cyan;
}

.spacer1 {
  padding: 1%;
}

.spacer3 {
  padding: 3%;
}

.spacer5 {
  padding: 5%;
}

.text-container {
  padding: 3px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#blurb {
  background-color: white;
}

#icon-download {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#icon-github {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#icon-linkedin {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#icon-mail {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#main {
  position: absolute;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 70%;
  border-right: 2px solid black;
  overflow: auto;
}

#main-heading {
  overflow: wrap;
  column-count: 2;
  column-gap: 45%;
  align-items: center;
  height: 3.5vw;
  border-bottom: 2px solid black;
  background-color: cyan;
}

#sidebar {
  position: absolute;
  right: 0;
  align-items: center;
  height: 100vh;
  width: 30%;
  border-left: 2px solid black;
  overflow: auto;
}

body {
  background-color: white;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-bottom: 75%;
}

button {
  justify-self: center;
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: lightblue;
  border: 3px solid black;
  padding: 3px;
  border-radius: 20px;
  margin: 2.5px;
}

button:hover {
  background-color: dodgerblue;
}

h1 {
  font-size: 2vw;
  color: black;
  background-color: cyan;
  padding: 3px;
  min-width: fit-content;
}

h2 {
  font-size: 1.7vw;
  padding: 6px 3px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: cyan;
}

h3 {
  font-size: 1.6vw;
  font-weight: lighter;
  padding: 3px;
  align-self: center;
  min-width: fit-content;
}

p {
  font-size: 1.3vw;
  padding: 3px;
  text-align: center;
}

li {
  font-size: 1.35vw;
}

a {
  text-decoration: none;
}
