* {
  font-family: Helvetica, Arial, sans-serif;
}

.icon {
  padding: 100px, 210px;
}

.link {
  color: DodgerBlue;
  text-decoration-line: underline;
}

.row-container {
  display: flex;
  flex-direction: row;
  background-color: cyan;
  margin: 0px;
  border: 1px solid black;
}

.section-container {
  display: flex;
  flex-direction: row;
  background-color: cyan;
  justify-content: space-between;
}

.spacer {
  padding: 50%;
  border: 1px solid black;
}

h1 {
  color: black;
}


p, li {
  font-size: 18px;
}


a {
  text-decoration: none;
}
