* {
  font-family: Montserrat, Helvetica, Arial;
  margin: 0 auto;
  border-collapse: collapse;

  min-width: 0;
  max-width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.buffer-left {
  border-right: 2px solid black;
  padding: 3%;
}

.buffer-right {
  border-left: 2px solid black; 
  padding: 3%;
}

.cert {
  font-size: 1.2vw;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: wrap;
  column-count: 2;
  column-gap: fit-container;
  align-items: center;
  height: 3.5vw;
  background-color: rgb(250, 249, 246); /* off white */
}

.left-container {
  position: absolute;
  left: 0;
  align-text: center;
}

.link {
  background-color: transparent;
  font-weight: bold;
  /* color: DodgerBlue;
  text-decoration-line: underline; */
}

.link-text {
  color: blue;
  font-weight: bold;
  text-decoration-line: underline;
}

.link-text-wip {
  color: blue;
  font-weight: bold;
  text-decoration-line: underline;
}

.right-container {
  position: absolute;
  right: 0;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 249, 246); /* off white */
  height: 100%;
}

.spacer1 {
  padding: 1%;
}

.spacer3 {
  padding: 3%;
}

.spacer5 {
  padding: 5%;
}

.text-container {
  padding: 3px;
  background-color: rgb(250, 249, 246); /* off white */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.zoom {
  border-radius: 4px;
  background-color: black;
  align-items: center;
  transition: transform 0.2s;
  height: fit-content;
  width: 12.5vw;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  border: solid 4px cyan;
}

.zoom-title {
  font-size: 1vw;
  width: 10vw;
}

#blurb {
  background-color: rgb(250, 249, 246); /* off white */
}

#icon-download {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#icon-github {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#icon-linkedin {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#icon-mail {
  font-size: 1.3vw;
  background-color: transparent;
  align-self: center;
}

#main {
  position: absolute;
  left: 0;
  text-align: center;
  height: 120%;
  width: 70%;
  border-right: 2px solid black;
  background-color: rgb(250, 249, 246); /* off white */
}

#main-heading {
  overflow: wrap;
  column-count: 2;
  column-gap: 40%;
  align-items: center;
  height: 6vh;
  border-bottom: 2px solid black;
  background-color: rgb(64, 224, 208); /* turquoise */
}

#sidebar {
  position: absolute;
  right: 0;
  align-items: center;
  height: 120%;
  width: 30%;
  border-left: 2px solid black;
  background-color: rgb(250, 249, 246); /* off white */
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(250, 249, 246); /* off white */
  overflow: auto;
  height: fit-content;
  width: 100vw;
  box-sizing: border-box;
}

button {
  justify-self: center;
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: lightblue;
  border: 3px solid black;
  padding: 3px;
  border-radius: 20px;
  margin: 2.5px;
}

button:hover {
  background-color: dodgerblue;
}

h1 {
  font-size: 2vw;
  color: black;
  background-color: transparent;
  padding: 3px;
  min-width: fit-content;
}

h2 {
  font-size: 1.7vw;
  padding: 6px 3px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(64, 224, 208); /* turquoise */
}

h3 {
  font-size: 1.6vw;
  font-weight: lighter;
  padding: 3px;
  align-self: center;
  min-width: fit-content;
}

img {
  height: 18vh;
}

p {
  font-size: 1.3vw;
  padding: 3px;
  text-align: center;
}

li {
  font-size: 1.3vw;
}

@media only screen and (max-width: 480px) {
  .section-container {
    display: flex;
    flex-direction: column;
  }
  #main {
    position: relative;
    width: 100%;
    border-right: 0px;
  }
  #main-heading {
    column-gap: 32%;
  }
  #sidebar {
    position: relative;
    width: 100%;
    border-left: 0px;
  }
  
  h1 {
    font-size: 3vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  img {
    height: 12vh;
  }
  p {
    font-size: 2vw;
  }
  li {
    font-size: 2vw;
  }
  ul {
    width: 60%;
  }
  
  .cert {
    font-size: 2vw;
  }
  .zoom-title {
    font-size: 1.32vw;
    width: 14vw;
  }
  
  #icon-download {
    font-size: 2.5vw;
  }
  #icon-github {
    font-size: 2.5vw;
  }
  #icon-linkedin {
    font-size: 2.5vw;
  }
  #icon-mail {
    font-size: 2.5vw;
  }
}
