* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  border: 1px solid black;
}

.icon {
  padding: 100px, 210px;
}

.link {
  color: DodgerBlue;
  text-decoration-line: underline;
}

.left-container {
  position: absolute;
  left: 0;
  align-text: center;
}

.right-container {
  position: absolute;
  right: 0;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  background-color: cyan;
}

.section-container {
  display: flex;
  flex-direction: row;
  background-color: cyan;
  justify-content: space-between;
  align-items: stretch;
}

.section-title {
  display: flex;
  flex-direction: row;
  background-color: cyan;
  justify-content: space-between;
  align-items: stretch;
}

.spacer {
  padding: 5%;
}

#main {
  position: absolute;
  left: 0;
  align-text: center;
  width: 75%;
}

#sidebar {
  position: absolute;
  right: 0;
  align-items: center;
  width: 25%;
}


h1 {
  color: black;
  padding: 3px;
}

h2 {
  padding: 3px;
  text-align: center;
}


p, li {
  font-size: 18px;
  padding: 3px;
}


a {
  text-decoration: none;
}
